<html>
  <head>
    <meta charset="UTF-8" />
    <title>User input with v-model</title>
    <link href="../app.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app" class="container">
      <div v-if="!hasEnteredName">
        <h2 class="text">Enter your name:</h2>
        <div class="input-group">
          <input class="input" v-model="name" />
          <button class="btn" @click="checkName">
            Submit
          </button>
        </div>
      </div>
      <p class="text text-background" v-else>Hello {{ name }}!</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
