<html>
  <head>
    <meta charset="UTF-8" />
    <title>To-Do App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="app" class="container mx-auto p-8 md:w-1/2">
      <h2 class="text-3xl text-grey-darkest uppercase tracking-wide">
        To-Do App
      </h2>
      <input
        v-model="nextTodo"
        class="mt-4 mb-4 p-3 bg-grey-lighter outline-none w-full rounded leading-tight"
        @keyup.enter="addTodo"
        placeholder="Type your task here"
      />
      <ul class="list-reset" v-if="filteredTodos.length">
        <todo-item
          v-for="(todo, i) in filteredTodos"
          :key="`${todo.name}-${i}`"
          :todo="todo"
          :index="i"
          @toggle="toggle"
          @delete="deleteItem"
          @edit="editItem"
        ></todo-item>
      </ul>
      <p v-else class="text-center m-8 text-2xl font-bold text-grey-darker">
        No to-dos!
      </p>
      <ul class="list-reset flex mt-3">
        <filter-todo
          v-for="filter in filters"
          @click.native="currentFilter = filter"
          :active="currentFilter === filter"
        >
          {{ filter }}
        </filter-todo>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
