<html>
  <head>
    <meta charset="UTF-8" />
    <title>To-Do App</title>
    <link href="style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app">
      <h2 class="title">
        To-Do App
      </h2>
      <todo-input @addtodo="addTodo"></todo-input>
      <ul class="list-todo" v-if="filteredTodos.length">
        <todo-item
          v-for="(todo, i) in filteredTodos"
          :key="`${todo.name}-${i}`"
          :todo="todo"
          :index="i"
          @toggle="toggle"
          @delete="deleteItem"
          @edit="editItem"
        ></todo-item>
      </ul>
      <p v-else class="no-results">
        No to-dos!
      </p>
      <todo-filters
        class="filters"
        @changeCurrentFilter="changeCurrentFilter"
        :currentFilter="currentFilter"
      ></todo-filters>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
