<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lists with v-for</title>
    <link href="../app.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app" class="container">
      <h2 class="text text-list">
        Things I want to buy:
      </h2>
      <ul class="list">
        <li v-for="thing in things" :key="thing" class="list-item-small">
          {{ thing }}
        </li>
      </ul>

      <h2 class="text text-list">
        Guardians of the Galaxy
      </h2>
      <div
        v-for="(character, index) in characters"
        :key="`${character.name}-${index}`"
        class="list-item"
      >
        <h3 class="">Guardian n°{{ index + 1 }} :</h3>
        <p
          v-for="(information, key) in character"
          :key="`${information}-${index}`"
        >
          {{ key }}: {{ information }}
        </p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
